@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0px;
}

:root {
    --panel-color: hsla(210, 20%, 98%, 1);
}

body {
    display: flex;
    justify-content: right;
    background-color: black;
}

#left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 980px;
    width: min(600px, 40vw);

}

#left-container > img#background {
    display: block;
    position: absolute;
    z-index: -1;
    width: 800px;
}

#left-container > div#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    width: 100%;
    font-family: norse-bold, sans-serif;
    font-size: 90px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5)
}

#left-container > div#logo > img {
    display: block;
    width: 100px;
    padding: 20px 0px;
}

#left-container > div#left-footer {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: white;
}

#right-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--panel-color);
}

#right-top-container, #right-bottom-container {
    flex: 1;
}

#right-center-container {
    height: 400px;
    background-color: white;
}