* {
    box-sizing: border-box;
    margin: 0px;
}

:root {
    --panel-color: hsla(210, 20%, 98%, 1);
}

body {
    display: flex;
    justify-content: right;
    background-color: black;
}

#left-container {
    overflow: hidden;
}

#left-container > img {
    display: block;
    width: min(600px, 40vw);
}

#right-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--panel-color);
}

#right-top-container, #right-bottom-container {
    flex: 1;
}

#right-center-container {
    height: 400px;
    background-color: white;
}